:root{
    --primary-color:rgba(157, 195, 248, 0.401);
    --overlay-color:rgba(24,59,51,0.85);   /*creating the variables to be used in the further styling areas.*/
    --menu-speed: 0.60s;
    --button-color: rgba(25, 25, 25, 0.91);
}

*{
    box-sizing:border-box;
    margin:0px;
    padding:0px;
}

body{
    font-family: 'Courgette', cursive;;
    line-height: 1.2;
}

.container{
    max-width:960px;
    margin:auto;
    overflow:hidden;
    padding:0 3rem;
}

.showcase{
    background-color: var(--primary-color);
    color:black;
    height:100vh;
    position:relative;
}

.showcase:before{
    content: '';                      /* for this property to run :before, we must keep the content as used '' */
    background: url(../images/ca.webp) no-repeat center center/cover;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: -1;
}


.showcase .showcase-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height:100%;
}

.showcase h1{
    font-size: 3 rem;                                 /*1 rem = 16 px */
}

.showcase p{
    font-size:1.3 rem;
}
.navbar{
    background: linear-gradient(#e1cccc, transparent);
    position:fixed;
    right:0;
}
   /*for the popup box*/

   .popup{
    background:rgba(0,0,0,0.6);
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    display:none;
    justify-content:center;
    align-items:center;

}

.popup-rep{
    height:180px;
    width:300px;
    background:rgba(226, 209, 209, 0.91);
    padding:20px;
    border-radius:2px;
    position: relative;
}
.popup-rep h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.popup1{
    background:rgba(0,0,0,0.6);
    width:110%;
    height:110%;
    position:absolute;
    top:0;
    display:none;
    justify-content:center;
    align-items:center;

}
.popup1-rep{
    height:150px;
    width:300px;
    background:rgba(226, 209, 209, 0.91);
    padding:10px;
    border-radius:2px;
    position: relative;
    top:2px;
}
.popup1-rep h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
}

input{
    margin:12px auto;
    padding:4px;
}

.empty{
    position: absolute;
    top:-15px;
    right:-15px;
    background: #fff;
    height:20px;
    width:20px;
    border-radius: 50%;
    box-shadow: 6px 6px 6px -4px rgba(0, 0, 0, 0.65);
    cursor:pointer;
}
.emptys{
    position: absolute;
    top:-15px;
    right:-15px;
    background: #fff;
    height:20px;
    width:20px;
    border-radius: 50%;
    box-shadow: 6px 6px 6px -4px rgba(0, 0, 0, 0.65);
    cursor:pointer;
}

    .ty{
        /*position: fixed; */
        background-color:var( --button-color);
        float:right;
        color:#fff;
        font-family: 'Old Standard TT', serif;
        padding: 0.05rem 0.21rem ;
        margin-top: 3 rem;
        margin-right: 5 rem; 
        z-index:1rem;
        box-shadow: 1px 1px 1px 1px dimgray,
                    2px 1px 2px 2px  lightgray,
                    2px 1px 2px 2px  lightgray,
                    1px 1px 1px 1px dimgray;
        text-decoration:none;
        transition: opacity 0.6s;
    }
    .ty:hover{
        opacity:0.8;
    }

    .butn{
        display:block;
        align-items: right;
        justify-content: right;
        text-align: right;
        border: none;
        background: var(--button-color);
        color:#fff;
        padding: 0.25rem 0.5rem ;
        margin-top:1 rem;
        text-decoration: none;
        margin-right:0.2rem;
        transition: opacity 0.5s;
    }
    
    .butn:hover{
        opacity:0.8;
        cursor: pointer;
    }
/*for the hover drop down */
    ul{
        padding: 0;
        list-style: none;
    }
    ul li{
        display: inline-block;
        position: relative;
        top:10%;
        margin:12px;
        text-align: center;
    }
  
    ul li ul.hoverOn{
        min-width: 100%; /* Set width of the dropdown */
        display: none;
        position: absolute;
        top:2%;
        z-index: 999;
        left: 0;
    }
    ul li:hover ul.hoverOn{
        display: block; /* Display the dropdown */
    }
    ul li ul.hoverOn li{
        display: block;
    }
   

/*hamburger */

.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  
  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Hamburger Line */ /* Hmaburger lines --- this kind of at the top-left corner of the screen  */
  .menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  
  /* Hamburger Lines - Top & Bottom */ 
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  
  /* Moves Line Down */
  .menu-wrap .hamburger > div::after {
    top: 10px;
  }
  
  /* Toggler Animation */
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(200deg);
  }
  
  /* Turns Lines Into X */
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  
  /* Rotate On Hover When Checked */
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  
  /* Show Menu */
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
  }
  
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  
  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
  }
  
  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }
  
 /* for the cards menu */
 .container{
  display:flex;
  justify-content: center;
  max-width:80%;
  border-radius: 10px;
  box-shadow: 2px 2px 10px paleturquoise ;
}
.starter1{
  text-align: center;
  padding-top:14px;
  margin-bottom: 12px;
  Font-size:30px;
  color: #e1306c;
}

.card1, .card2, .card3{

background-color: rgb(192, 248, 250);
float: left;
max-width: 25%;
padding: 20px;
text-align: center;
color: black; 
margin-right: 20px;
margin-top: 20px;
margin-left: 20px;
margin-bottom: 20px;

}

#a1::after{
 content: "";
display: table;
clear: both;
}
#b1::after{
  content: "";
 display: table;
 clear: both;
}
#c1::after{
  content: "";
 display: table;
 clear: both;
}
#d1::after{
  content: "";
 display: table;
 clear: both;
}
 
.card_image{
  width: 100%
}
.card_content{
   text-align: center;
   padding: 5px;
 
}
.description{
  text-align: center;
  padding: 5px;
}
.order{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
  cursor: pointer;
 
}


input{
  padding:10px;
  margin:12px;
}
#add{
  padding:10px;
  margin:12px;
  background:black;
  color:white;
}
#sub{
  padding:10px;
  margin:12px;
  background:black;
  color:white;
}
.ordernow{

  background: black;
  border: 1px solid black;
  border-radius: 5px;
  color: #fff;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
}
.ordernow:hover{
  transition: 0.5s;
  background:white;
  color:black;
  border:none;
}
.maincourse{
  text-align:center;
  margin:12px;
  padding:12px;
}
.maincourse1{
  margin-top:12px;
  margin-bottom:12px;
  Font-size:40px;
  padding-top:15 px;
  padding-bottom:20 px;
  color: #e1306c;
}

.drink{
  text-align:center;
  margin-top:12px;
  padding:12px;
}
.drink1{
  margin-top:18px;
  Font-size:50px;
  padding-top:15 px;
  padding-bottom:15 px;
  color: #e1306c;
}

.Dessert{
  text-align:center;
  margin-top:12px;
  
}
.dessert{
  margin-top:18px;
  Font-size:50px;
  padding-top:15 px;
  padding-bottom:15 px;
  color: #e1306c;
}


/*footer*/

#social_icons{
      height: 150px;
      background: #fff;
      text-align: center;
      padding: 50px 0 50px 0;
  }
 #social_icons a{
     display: inline-block;
     padding: 5px 10px;
     margin: 0 5px;
     font-size: 40px;
     border-radius:5px ;
     transition: transform 2s ease,color 2s ease
}
 #socia_icons a:hover{
    transform: translateY(-20px); 
 }
.facebook{
    color: #3b5998;
}
.instagram{
    color:#e1306c
}


 