/*--nav--*/
:root{
  --primary-color:rgba(157, 195, 248, 0.401);
  --overlay-color:rgba(24,59,51,0.85);   /*creating the variables to be used in the further styling areas.*/
  --menu-speed: 0.60s;
  --button-color: rgba(25, 25, 25, 0.91);
}

*{
  box-sizing:border-box;
  margin:0px;
  padding:0px;
}

body{
  font-family: 'Source Sans Pro', sans-serif;}


.navbar{
  background: linear-gradient(#e1cccc, transparent);
  position:fixed;
  top:0;
  right:0;
}

input{
  margin:12px auto;
  padding:4px;
}

.empty{
  position: absolute;
  top:-15px;
  right:-15px;
  background: #fff;
  height:20px;
  width:20px;
  border-radius: 50%;
  box-shadow: 6px 6px 6px -4px rgba(0, 0, 0, 0.65);
  cursor:pointer;
}
.emptys{
  position: absolute;
  top:-15px;
  right:-15px;
  background: #fff;
  height:20px;
  width:20px;
  border-radius: 50%;
  box-shadow: 6px 6px 6px -4px rgba(0, 0, 0, 0.65);
  cursor:pointer;
}

  .ty{
      /*position: fixed; */
      background-color:var( --button-color);
      float:right;
      color:#fff;
      font-family: 'Old Standard TT', serif;
      padding: 0.05rem 0.21rem ;
      margin-top: 3 rem;
      margin-right: 5 rem; 
      z-index:1rem;
      box-shadow: 1px 1px 1px 1px dimgray,
                  2px 1px 2px 2px  lightgray,
                  2px 1px 2px 2px  lightgray,
                  1px 1px 1px 1px dimgray;
      text-decoration:none;
      transition: opacity 0.6s;
  }
  .ty:hover{
      opacity:0.8;
  }

  .butn{
      display:block;
      align-items: right;
      justify-content: right;
      text-align: right;
      border: none;
      background: var(--button-color);
      color:#fff;
      padding: 0.25rem 0.5rem ;
      margin-top:1 rem;
      text-decoration: none;
      margin-right:0.2rem;
      transition: opacity 0.5s;
  }
  
  .butn:hover{
      opacity:0.8;
      cursor: pointer;
  }
/*for the hover drop down */
  ul{
      padding: 0;
      list-style: none;
  }
  ul li{
      display: inline-block;
      position: relative;
      top:10%;
      margin:12px;
      text-align: center;
  }

  ul li ul.hoverOn{
      min-width: 100%; /* Set width of the dropdown */
      display: none;
      position: absolute;
      top:2%;
      z-index: 999;
      left: 0;
  }
  ul li:hover ul.hoverOn{
      display: block; /* Display the dropdown */
  }
  ul li ul.hoverOn li{
      display: block;
  }
 

/*hamburger */
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */ /* Hmaburger lines --- this kind of at the top-left corner of the screen  */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */ 
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(200deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}


/*cart*/
.container{
  width: 90%;
  align-content: center;
  margin: 80px auto;
  border: 1px solid lightgrey;
  box-shadow:2px 2px 10px #000;
  margin-top: 60px;
  margin-bottom:20px ;
}
h1 {text-align: center;}

table{
  width: 100%;
  border-collapse: collapse;
}


thead{
  text-align: center;
  padding: 5px;
  color: black;
  background: lavenderblush;

}
td
{
  text-align: center;
  padding:10px 5 px;
}
td form{
  display: inline-block;
}
td input{
  display: inline-block;
  text-align: center;
  width: 40px;
  height: 30px;
  padding:5px;

}
tfoot{
  
  text-align: right;
  padding: 5px;
  color: black;
}
.b1{
  background-color: #fb2525;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 85%;
}
.b3{
  background-color: #fb2525;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 83%;
}

.b2{
  background-color: #fb2525;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;

  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  
}

.b1:hover ,.b2:hover,.b3:hover
{
cursor: pointer;
background: #5bf060;
color: #000;
}

.b1 a ,.b3 a,.b2 a{
  text-decoration: none;
  color:#fff;
  
}
.b1 a:hover ,.b2 a:hover{
  color: #000;
}
.container-events{
  width: 90%;
  align-content: center;
 margin: 5px auto;
  border: 1px solid lightgrey;
  box-shadow:2px 2px 10px #000;
  margin-top: 60px;
}
.container-events table {
  width: 100%;
  border-collapse: collapse;
}
.container-events table thead{

  text-align:center;
  padding: 20px;
  color: black;
  background:lavenderblush

}
.container-events table td
{ text-align: center;
  padding:10px 5 px;
}
.grand-total{
  display:flex;
  justify-content: flex-end;
  margin-right: 65px;
  margin-top:0 ;
}
.grand-total table{
  border-top: 3px solid #ff523b;
  width: 100%;
  max-width: 350px;
}
td:last-child{
  text-align: center;
}
th:last-child{
  text-align: center;
}
.minus{
  width: 20px;
  height: 30px;
  background: black;
  color: white;
}
.add{
  width: 20px;
  height: 30px;
  background: black;
  color: white;
}