body{
    background:url(../images/las.webp);
    background-position: cover;
}
  .loginbox{
    width: 320px;
    height: 400px;
    background:rgba(11,13,13,3.5);
    color: #fff;
    top: 50%;
    left: 60%;
    position: absolute;
    top:55%;
    left:50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="email"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.ty{
    /*position: fixed; */
    background:red;
    text-align: center;
    position: absolute;
    top:82%;
    left:38%;
    font-size:18px;
    justify-items: center;
    color:#fff;
    font-family: 'Old Standard TT', serif;
    padding: 8px;
    margin-bottom: 3 px;
    z-index:1rem;
    box-shadow: 1px 1px 1px 1px dimgray,
                2px 1px 2px 2px  lightgray,
                2px 1px 2px 2px  lightgray,
                1px 1px 1px 1px dimgray;
    text-decoration:none;
    transition: opacity 0.6s;
}
.ty:hover{
    opacity:0.8;
    color:green;
}
a {
text-decoration:none;
color:white;
font-size:12px;
padding:12px;
margin-top:0px;
}
