*{
    margin:0px;
    padding:0px;
}

/*payment*/
.payment{
    display:flex;
    margin: 12px;
    padding-bottom: 10%;
  }
  .mypara{
    font-size:40px;
    color:rosybrown;
    position: absolute;
    top:13%;
    left:1%;
  }

  .loginbox{
    width: 320px;
    height: 440px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    top:55%;
    left:40%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginbox input[type="submit"], input[type="reset"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #44ee3b;
    color: #000;
}
.loginbox input[type="reset"]:hover
{
    cursor: pointer;
    background: #3ffa3c;
    color: #000;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover
{
    color: #ffc107;
}



.loginbox1{
  width: 320px;
  height: 440px;
  background: rgb(10, 10, 10);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  top:55%;
  left:12%;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.loginbox1 p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox1 input{
  width: 100%;
  margin-bottom: 20px;
}

.loginbox1 input[type="text"], input[type="password"]
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}
.loginbox1 input[type="submit"], input[type="reset"]
{
  border: none;
  outline: none;
  height: 40px;
  background: #fb2525;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}
.loginbox1 input[type="submit"]:hover
{
  cursor: pointer;
  background: #5bf060;
  color: #000;
}
.loginbox1 input[type="reset"]:hover
{
    cursor: pointer;
    background: #6bec2b;
    color: #000;
}
.loginbox1 a{
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.loginbox1 a:hover
{
  color: #ffc107;
}