:root{
    --primary-color:rgba(157, 195, 248, 0.3);
    --overlay-color:rgba(24,59,51,0.85);   /*creating the variables to be used in the further styling areas.*/
    --menu-speed: 0.60s;
    --button-color: rgba(25, 25, 25, 0.91);
}

*{
    box-sizing:border-box;
    margin:0px;
    padding:0px;
}

body{
    font-family: 'Patrick Hand', cursive;
    line-height: 2.2;
}

.container{
    max-width:960px;
    margin:auto;
    overflow:hidden;
    padding:0 3rem;
}

.showcase{
    background-color: var(--primary-color);
    color:black;
    height:100vh;
    position:relative;
}

.showcase:before{
    content: '';                      /* for this property to run :before, we must keep the content as used '' */
    background: url(../images/int.jpg) no-repeat center center/cover;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: -1;
}


.showcase .showcase-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height:100%;
}

.showcase h1{
    font-size: 50 px;                                 /*1 rem = 16 px */
}

.showcase p{
    font-size: 100 px;
    font-family: 'Yantramanav', sans-serif;
    color:#010e16;
}
.navbar{
    background: linear-gradient(#e1cccc, transparent);
    position:fixed;
    right:0;
}
    .ty{
        /*position: fixed; */
        background-color:var( --button-color);
        float: right;
        color:#fff;
        font-family: 'Old Standard TT', serif;
        padding: 0.05rem 0.21rem ;
        margin-top:1 rem;
        margin-right:0.1rem;
        z-index:1rem;
        box-shadow: 1px 1px 1px 1px dimgray,
                    2px 1px 2px 2px  lightgray,
                    2px 1px 2px 2px  lightgray,
                    1px 1px 1px 1px dimgray;
        text-decoration:none;
        transition: opacity 0.6s;
    }
    .ty:hover{
        opacity:0.8;
    }

    .butn{
        display:block;
        align-items: right;
        justify-content: right;
        text-align: right;
        border: none;
        background: var(--button-color);
        color:#fff;
        padding: 0.25rem 0.5rem ;
        margin-top:1 rem;
        text-decoration: none;
        margin-right:0.2rem;
        transition: opacity 0.5s;
    }
    
    .butn:hover{
        opacity:0.8;
        cursor: pointer;
    }

    

/*for the logos */
.below{
    position: absolute;
    top:95%;
    display: flex;

}

.below ul li{
    list-style: none;
    color:#fff;
    display: inline-block;
    margin: 0px 2px;
}
.below ul li .fa{
    font-size: 50px;
  
}
.below ul li a{
    position: inherit;
    border-width: thick;
    margin:2px;
    padding:6px;
    background: rgba(154, 200, 240);
    color:#111;
    border-radius:50%;
    transition:0.6s;
}

.below ul li a:hover{
    color:green;
    transform: translate(5px, 5px);
}

.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  
  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Hamburger Line */ /* Hmaburger lines --- this kind of at the top-left corner of the screen  */
  .menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  
  /* Hamburger Lines - Top & Bottom */ 
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  
  /* Moves Line Down */
  .menu-wrap .hamburger > div::after {
    top: 10px;
  }
  
  /* Toggler Animation */
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(200deg);
  }
  
  /* Turns Lines Into X */
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  
  /* Rotate On Hover When Checked */
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  
  /* Show Menu */
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
  }
  
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  
  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
  }
  
  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }
  
  .select{
      display:flex;
      flex-direction: column;
      position: absolute;
      left:70%;
      top:120%;
      transform: translate(10px,-20px);
      padding:30px;
      font-size: 30px;
      font-family: 'Cookie', cursive;
  }
  option{
      font-size: 20px;
      font-family: 'Cookie', cursive;
  }
  .for{
      font-size: 40px;
      position: absolute;
      left:52%;
      top:120%;
      font-family: 'Cookie', cursive;
  }

  /*payment*/
  .payment{
    display:flex;
    margin: 12px;
    padding-bottom: 10%;
  }

.wrap-2{
  margin-top: 20px;
  padding:22px;
  display: flex;
  flex-direction: column;
  
 
}
.wrap-1{
  padding:22px;
  margin: 20px;
  display: inline-flex;
  flex-direction: column;
  column-gap:5px;
 
 
}


  .form_1
  {
    position: relative;
    text-align: center;
    justify-items: center;
    align-items: center;
    margin:2px;
    display: block;
    background:burlywood;
  }
 .form_1 img{
   position: absolute;
   left:85%;
   bottom:75%;
   border-radius:50%;
   width:60px;
   border:2px;
 }

